@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Assignment 2";
    ViewBag.h1 = "IS 413 Assignment 2";
}



<body>

    <!--add a pictiure of me playing soccer-->
    <img class="image" src="~/img/byusoccer.jfif" /><br />

    <!--what I want out of the course and what jobs I think i'd like-->
    <fieldset class="fieldset-auto-width">
        <legend>The Future: What I Want to Learn and Where I Want to Be</legend>
        <p>
            IS 413 may be the most important class for me personally because the internship I am hoping to land has a lot of ASP.NET and C# aspects to it. Accordingly, I hope to learn how to create functional and eye catching web applications using the .NET MVC Core Framework and C#. In addition to the cirriculum, I hope to become a better problem solver and a more confident coder.
        </p>

        <p class="bold">Jobs I am Considering:</p>

        <ol>
            <li>IS Project Manager</li>
            <li>Cyber Security Consultant</li>
            <li>Application Developer</li>
        </ol>
    </fieldset>

    
    
</body>
